.footer__container {
    padding-top: 70px;
}

.footer__line {
    border-top: 1px solid rgba(255, 255, 255, 0.30);
}

.logo__footer {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.footer {
    &__ground {
        display: flex;
        align-items: center;
        padding: 30px 60px;
    }

    &__copy {
        color: #E8E8E8;
        font-family: Lexend;
        font-size: 18px;
        font-weight: 300;
        line-height: 160%;
    }

    &__contact {
        margin-left: auto;

    }

    &__list {
        display: flex;
    }
}