$active-color: #FCD54C;
$white-color: #fff;
$dark-color: #272727;
$Poppins: Poppins;

html {
    scroll-behavior: smooth;
}

.main__block {
    background-image: url('img/mainimage.jpg');
    position: relative;
}

.main__contact {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 10px;
    top: 40px;
    right: 20px;
}

.contact__href {
    display: flex;
    border-radius: 50%;
    color: $white-color;
    padding: 12px;
    transition: color 250ms ease;
}

.contact__href:hover,
.contact__href:focus {
    color: $active-color;
}

.main__header {
    color: $white-color;
    font-family: Space Grotesk;
    font-size: 96px;
    font-weight: 700;
    line-height: 104.167%;
    text-transform: capitalize;
    max-width: 750px;
    margin-bottom: 22px;
}

.header__yellow {
    color: $active-color;
}

.header__bef {
    color: $white-color;
    font-family: Work Sans;
    font-size: 16px;
    text-transform: uppercase;
    margin-bottom: 22px;
}

.header__aft {
    color: $white-color;
    font-family: Work Sans;
    font-size: 20px;
    font-weight: 700;
}

.header__block {
    padding: 50px 22px;
    position: relative;
    border-left: solid 4px $active-color;
}

.header__block::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    border-bottom: solid 4px $active-color;
    width: 124px;
}

.header__block::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    border-bottom: solid 4px $active-color;
    width: 124px;
}

.header__padding {
    padding: 278px 0 310px 356px;
}

.main__numbers {
    position: absolute;
    background-color: $dark-color;
    bottom: 0;
    right: 0;
    display: flex;

}

.number__list {
    display: flex;
    align-items: center;
    padding: 70px 60px 55px 60px;
}

.number__element {
    color: $white-color;
    font-family: $Poppins;
    font-size: 60px;
    font-weight: 700;
    line-height: 40%;
    margin-right: 30px;
}

.number__text {
    color: $white-color;
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 600;
    line-height: 162.5%;
    max-width: 150px;
}

.second__header {
    color: $white-color;
    font-family: Poppins;
    font-size: 48px;
    font-weight: 700;
    line-height: 143.75%;
    padding-left: 346px;
    padding-bottom: 78px;
}

.latest__section {
    padding-top: 124px;
    padding-bottom: 124px;
}

.mini_yellow_text {
    color: $active-color;
    font-family: Work Sans;
    font-size: 18px;
    font-weight: 600;
    line-height: 160%;
    margin-bottom: 40px;
}

.apartment__header {
    color: #E8E8E8;
    font-family: Poppins;
    font-size: 70px;
    font-style: normal;
    font-weight: 700;
    line-height: 98.571%;
    margin-bottom: 33px;
}

.apartment__text {
    color: #E8E8E8;
    font-family: Work Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 160%;
}

.apartment__block {
    display: flex;
    flex-direction: column;
    max-width: 750px;
}

.apartment {
    display: flex;
    justify-content: center;
    padding-bottom: 90px;
}

.text__border {
    color: $white-color;
    font-family: Poppins;
    font-size: 30px;
    font-weight: 400;
    line-height: 160%;
    padding: 70px 60px;
    border: 1px solid #FCD54C;
    max-width: 1110px;
}

.text_border_yellow {
    color: $active-color;
}

.text_border_block {
    display: flex;
    justify-content: center;
    padding: 118px 0 64px 0;
}

.hous__block {
    display: flex;
    justify-content: center;
    gap: 24px
}

.hous__text {
    color: #E8E8E8;
    font-family: Work Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 160%;
    max-width: 543px;
    margin-top: 70px;
}

.contact-us__ask {
    color: $dark-color;
    text-align: center;
    font-family: Work Sans;
    font-size: 18px;
    font-weight: 600;
    line-height: 160%;
    margin-bottom: 15px;
}

.contact-us__header {
    color: $dark-color;
    text-align: center;
    font-family: Poppins;
    font-size: 120px;
    font-weight: 700;
    line-height: 57.5%;
    margin-bottom: 54px;
}

.contact-us__bg {
    background-image: url('img/Contact-us-bg.jpg');
    padding-bottom: 85px;
    padding-top: 85px;
}

.contact-us__input {
    color: $dark-color;
    font-family: Work Sans;
    font-size: 12px;
    width: 472px;
    padding: 25px 0 22px 42px;
    outline: none;
}

.contact-us__button {
    color: $white-color;
    font-family: Work Sans;
    font-size: 14px;
    font-weight: 600;
    padding: 23px 65px 22px;
    background: #272727;
}

.contact-us__form {
    display: flex;
    justify-content: center;
}

//========================================================================================================================================================

.photo {

    &__slide {
        position: relative;
        width: 430px;
        height: 572px;
        font-size: rem(50);
        overflow: hidden;
    }

    &__text {
        position: absolute;
        top: 450px;
        left: 50px;
        color: $white-color;
        font-family: Poppins;
        font-size: 32px;
        font-weight: 700;
        line-height: 140.625%;
    }

    &__overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transform: translateX(101%);
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
        padding-top: 24px;
        padding-bottom: 24px;

        background-color: $active-color;
        color: $dark-color;
        font-family: Work Sans;
        font-size: 22px;
        font-weight: 400;
        line-height: 118.182%;
        display: flex;
        flex-direction: column;
        padding-left: 30px;
        padding-right: 60px;
    }

    &__link:hover .photo__overlay,
    &__link:focus .photo__overlay {
        transform: translateX(0);
    }

    // &__slider {}

    // &__swiper {}
}

.photo_overlay_title {
    font-family: $Poppins;
    font-size: 32px;
    font-weight: 700;
    line-height: 140.625%;
    padding-top: 50px;
}

.photo_overlay_link {
    font-size: 20px;
    font-weight: 700;
    margin-top: auto;
    padding-bottom: 44px;
}

.photo_overlay_text {
    margin-top: 100px;
}

.pagging-center {
    margin-top: rem(98);
    display: flex;
    justify-content: center;
    align-items: center;
}

.useful__section {
    padding: 140px 140px 0;
    display: flex;
    justify-content: center;
}

.useful {
    &__header {
        color: $white-color;
        font-family: $Poppins;
        font-size: 70px;
        font-weight: 700;
        margin-bottom: 90px;
    }

    &__list {
        display: flex;
        gap: 30px;
        justify-content: center;
    }

    &__text {
        position: absolute;
        left: 30px;
        top: 260px;
        color: $white-color;
        font-family: $Poppins;
        font-size: 25px;
        font-weight: 700;
        line-height: 140%;
    }

    &__item {
        cursor: pointer;
    }
}

.flip__card {
    background-color: transparent;
    width: 350px;
    height: 350px;
    perspective: 1000px;
}

.flip_card_inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip__card:hover .flip_card_inner {
    transform: rotateY(180deg);
}

.flip_card_front,
.flip_card_back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip_card_front {
    background-color: #bbb;
    color: black;
}

.flip_card_back {
    background-color: transparent;
    transform: rotateY(180deg);
    border: 1px solid $active-color;
}

.overlay {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 162.5%;
    padding: 40px 35px 30px;

    &__date {
        color: $white-color;
        margin-bottom: 15px;
    }

    &__title {
        color: $white-color;
        font-family: $Poppins;
        font-size: 25px;
        font-weight: 700;
        line-height: 140%;
        margin-bottom: 30px;
    }

    &__text {
        color: #929292;
    }

    &__link {
        color: $active-color;
        font-weight: 600;
        line-height: 150%;
        margin-top: auto;
    }
}

.people {
    display: flex;
    align-items: center;
    color: $white-color;
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 400;
    // width: 2340px;

    &__swiper {
        padding-top: 200px;
    }

    &__slide:nth-child(1) {
        opacity: 0.5;
        transition: opacity 250ms ease;
    }

    &__slide:nth-child(4) {
        opacity: 0.5;
    }

    &__logo {
        position: absolute;
        top: -80px;
        right: 40px;
        color: $active-color;
        font-family: Work Sans;
        font-size: 120px;
        font-weight: 600;
        line-height: 166.667%;
    }

    &__slide {
        position: relative;
        border: 1px solid #FCD54C;
        padding: 0 45px 30px 30px;
        cursor: pointer;
    }

    &__img {
        position: absolute;
        left: 30px;
        top: -56px;
        border-radius: 50%;
    }

    &__name {
        padding-top: 100px;
        font-family: $Poppins;
        font-size: 25px;
        font-weight: 700;
        margin-bottom: 20px;
    }

    &__disc {
        margin-top: 35px;
        color: #929292;
        line-height: 162.5%;
    }


}

.faq {
    color: $white-color;
    font-family: Work Sans;
    font-weight: 400;
    padding: 110px 405px;

    &__header {
        font-family: $Poppins;
        font-size: 70px;
        font-weight: 700;
        line-height: 85.714%;
        margin-bottom: 30px;
    }

    &__visible {
        position: relative;
        font-size: 18px;
        line-height: 130%;
        margin-top: 20px;
        // margin-bottom: 20px;
    }

    &__line {
        border-top: 1px solid #929292;
    }

    &__hiden {

        color: #E8E8E8;
        font-size: 14px;
        line-height: 160%;
        padding: 0 65px;

    }

    &__switch:checked~.faq__hiden {
        max-height: 200px;
        margin-bottom: 30px;
    }

    &__headline {
        display: block;
        position: relative;

        user-select: none;
        font-weight: normal;
        cursor: pointer;
    }

    &__hiden {
        max-height: 0;
        overflow: hidden;
        transition: max-height 2s ease, margin-bottom 1s ease;
    }

    &__switch {
        display: none;
    }

    &__icon {
        position: absolute;
        top: 0;
        right: 0;
        transition: rotate 1s ease;
    }

    &__switch:checked~.faq__icon {
        rotate: 90deg;
    }

    &__title {
        margin-bottom: 20px;
    }

}


//==============================================================

.modal {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba($color: #000, $alpha: 0.8);
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;

    &__body {
        min-height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 30px 10px;
    }

    &__content {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: $white-color;
        padding: 65px 140px 45px;
        text-align: center;
    }

    &__close {
        position: absolute;
        top: -46px;
        right: -70px;
    }

    &__header {
        color: #000;
        font-family: $Poppins;
        font-size: 48px;
        font-weight: 700;
        margin-bottom: 10px;
    }

    &__text {
        color: #000;
        font-family: Work Sans;
        font-size: 20px;
        margin-bottom: 50px;
    }

    &__form {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    &__label {
        border-bottom: 1px solid #929292;
        margin-bottom: 20px;
        width: 100%;
    }

    &__input {
        color: #000;
        font-family: $Poppins;
        font-size: 16px;
        width: 100%;
        padding: 15px 10px;
        outline: none;
    }

    &__button {
        display: inline-block;
        
        padding: 16px 85px;
        background: #FCD54C;
        color: #000;
        font-family: Work Sans;
        font-size: 18px;
        font-weight: 600;
        transition: background-color 250ms ease;
        margin-top: 55px;

        &:hover,
        &:focus {
            background-color: #ecbc0d;
        }
    }
}